<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/style.css">
    <meta name="description" content="ð—¬ð—¼ð˜‚ð—¿ ð—£ð—®ð—´ð—² ð——ð—²ð˜€ð—°ð—¿ð—¶ð—½ð˜ð—¶ð—¼ð—»">
    <meta name="author" content="ð—¬ð—¼ð˜‚ð—¿ ð—¡ð—®ð—ºð—²">
    <link rel="icon" type="image/png" href="favicon.ico">
</head>