<header>
    <a href="/"><img alt="Home" src="https://place-hold.it/100x100"/></a>
    <nav>
        <a href="/">Link</a>
        <a href="/">Link</a>
        <a href="/">Link</a>
    </nav>
</header>